* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e9af74;
    display: flex;
    justify-content: center;
}

#heading {
    padding: 5vmin;
}
.outer-body {
    text-align: center;
}

.calc-body {
    height: 70vh;
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#C {
    grid-column: 4;
    font-size: 2rem;
}

.calculator {
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    max-width: 70vh;
    overflow: hidden;
}

button {
    height: 12vmin;
    width: 12vmin;
    border-radius: 50px;
    border: none; 
    background-color: hsl(0, 0%, 30%);
    color: #FFFCE1;
    font-size: 2.5rem;
    cursor: pointer;
}

#calcDisplay {
    width: 100%;
    padding: 3.5vh;
    font-size: 2.5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: #FFFCE1;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator {
    background-color: hsl(39, 100%, 50%);
}

.operator:hover {
    background-color: hsl(39, 100%, 60%);
}

.operator:active {
    background-color: hsl(39, 100%, 70%);
}